<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <style>
    #reg-form {
      margin: auto;
      max-width: 500px;
    }
    h1 {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1>TinyApp Registration Form</h1>
  <section id="reg-form">
    <form action="/register" method="POST">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
      <button type="submit">Register</button>
    </form>
  </section>
</body>
</html>